body{margin: 0;}
.navbar{display: flex;background: black;position: sticky;top: 0;}
.logo{flex:40%;}
.nava{flex: 55%;padding-top: 40px;}
.nava a{padding: 10px;color: white;text-decoration: none;}
.nava a:hover{color: grey;}
.rightnav{flex: 20%;padding-top: 40px;}
.rightnav input{border-radius: 10px;border: white;}
button{border-radius: 10px;}
button:hover{background: black;color: white;}
.firstbox{padding: 50px;color: white;}
.firstsection{background: grey;}
.firstbox h1{text-align: center;}
.secondsection{background: black;display: flex;color: white;}
.secondbox h1{text-align: center;}
.secondbox{padding: 50px;}
.thirdsection{background: grey;display: flex;}
.thirdbox{padding: 50px;color: white;}
.thirdbox h1{text-align: center;}
footer{text-align: center;padding: 25px;background: darkred;color: white;}
progress{float: right;}